<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="1" name="Test">
    <classes>      
      <class name="test.RegisterUser"/>
      <class name="test.LoginUserWithCorrectEmailAndPassword"/>
      <class name="test.LoginUserWithIncorrectEmailAndPassword"/>
      <class name="test.LogoutUser"/>
      <class name="test.RegisterUserWithExistingEmail"/>
      <class name="test.ContactTest"/>
      <class name="test.VerifyTestCasesPage"/> 
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
